<h1>Settings</h1>

<h3>Change names</h3>

<.form
  let={f}
  for={@email_changeset}
  action={Routes.user_settings_path(@conn, :update)}
  id="update_details"
>
  <%= if @email_changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= hidden_input(f, :action, name: "action", value: "update_details") %>

  <%= label(f, :first_name) %>
  <%= text_input(f, :first_name, required: true) %>
  <%= error_tag(f, :first_name) %>

  <%= label(f, :last_name) %>
  <%= text_input(f, :last_name, required: false) %>
  <%= error_tag(f, :last_name) %>

  <%= label(f, :current_password, for: "current_password_for_email") %>
  <%= password_input(f, :current_password,
    required: true,
    name: "current_password",
    id: "current_password_for_email"
  ) %>
  <%= error_tag(f, :current_password) %>

  <div>
    <%= submit("Change details") %>
  </div>
</.form>

<h3>Change email</h3>

<.form
  let={f}
  for={@email_changeset}
  action={Routes.user_settings_path(@conn, :update)}
  id="update_email"
>
  <%= if @email_changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= hidden_input(f, :action, name: "action", value: "update_email") %>

  <%= label(f, :email) %>
  <%= email_input(f, :email, required: true) %>
  <%= error_tag(f, :email) %>

  <%= label(f, :current_password, for: "current_password_for_email") %>
  <%= password_input(f, :current_password,
    required: true,
    name: "current_password",
    id: "current_password_for_email"
  ) %>
  <%= error_tag(f, :current_password) %>

  <div>
    <%= submit("Change email") %>
  </div>
</.form>

<h3>Change password</h3>

<.form
  let={f}
  for={@password_changeset}
  action={Routes.user_settings_path(@conn, :update)}
  id="update_password"
>
  <%= if @password_changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= hidden_input(f, :action, name: "action", value: "update_password") %>

  <%= label(f, :password, "New password") %>
  <%= password_input(f, :password, required: true) %>
  <%= error_tag(f, :password) %>

  <%= label(f, :password_confirmation, "Confirm new password") %>
  <%= password_input(f, :password_confirmation, required: true) %>
  <%= error_tag(f, :password_confirmation) %>

  <%= label(f, :current_password, for: "current_password_for_password") %>
  <%= password_input(f, :current_password,
    required: true,
    name: "current_password",
    id: "current_password_for_password"
  ) %>
  <%= error_tag(f, :current_password) %>

  <div>
    <%= submit("Change password") %>
  </div>
</.form>
