<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="referral_link-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <%= label(f, :url) %>
    <%= text_input(f, :url) %>
    <%= error_tag(f, :url) %>

    <%= hidden_input(f, :card_id, value: @card_id) %>

    <div>
      <%= submit("Save", phx_disable_with: "Saving...") %>
    </div>
  </.form>
</div>
